# Introduccion a Pandas

Pandas es una herramienta de analisis de datos tabulares

In [ ]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
data_teams = {'year':
        [2010 , 2011 , 2012 ,
        2010 , 2011 , 2012 ,
        2010 , 2011 , 2012],
        'team': [
        'Rangers','Rangers',
        'Rangers','Colo Colo',
        'Colo Colo','Colo Colo',
        'Universidad de Chile','Universidad de Chile',
        'Universidad de Chile'],
        'wins':[30 , 28 , 32 , 29 , 32 , 26 , 21 , 17 , 19] ,
        'draws':[6 , 7 , 4 , 5 , 4 , 7 , 8 , 10 , 8] ,
        'losses': [2 , 3 , 2 , 4 , 2 , 5 , 9 , 11 , 11]
        }

df = pd.DataFrame(data_teams ,columns=data_teams.keys())

In [ ]:
df.head()

   year       team  wins  draws  losses
0  2010    Rangers    30      6       2
1  2011    Rangers    28      7       3
2  2012    Rangers    32      4       2
3  2010  Colo Colo    29      5       4
4  2011  Colo Colo    32      4       2

In [ ]:
df.dtypes

year       int64
team      object
wins       int64
draws      int64
losses     int64
dtype: object

In [ ]:
df['team'] = df['team'].astype('category')
df['year']=pd.to_datetime(df['year'], format='%Y')

In [ ]:
df['team'].unique()

['Rangers', 'Colo Colo', 'Universidad de Chile']
Categories (3, object): ['Colo Colo', 'Rangers', 'Universidad de Chile']

In [ ]:
type(df['team']=='Rangers')

pandas.core.series.Series

In [ ]:
df_talca=df[df['team']=='Rangers']

In [ ]:
df_talca

        year     team  wins  draws  losses
0 2010-01-01  Rangers    30      6       2
1 2011-01-01  Rangers    28      7       3
2 2012-01-01  Rangers    32      4       2

In [ ]:
df.dtypes

year      datetime64[ns]
team            category
wins               int64
draws              int64
losses             int64
dtype: object

La tabla ``df`` se encuentra indexada mediante un objeto del tipo ``pd.Index`` que nos sirve para acceder a los registros individuales.

In [ ]:
print(df.index)

RangeIndex(start=0, stop=9, step=1)

In [ ]:
df[df.index==0]

        year     team  wins  draws  losses
0 2010-01-01  Rangers    30      6       2

In [ ]:
df.iloc[0]

year      2010-01-01 00:00:00
team                  Rangers
wins                       30
draws                       6
losses                      2
Name: 0, dtype: object

In [ ]:
df[0:2]

        year     team  wins  draws  losses
0 2010-01-01  Rangers    30      6       2
1 2011-01-01  Rangers    28      7       3

In [ ]:
sum_data=df.groupby(['year','team']).mean()

In [ ]:
print(sum_data)

                                 wins  draws  losses
year       team
2010-01-01 Colo Colo             29.0    5.0     4.0
           Rangers               30.0    6.0     2.0
           Universidad de Chile  21.0    8.0     9.0
2011-01-01 Colo Colo             32.0    4.0     2.0
           Rangers               28.0    7.0     3.0
           Universidad de Chile  17.0   10.0    11.0
2012-01-01 Colo Colo             26.0    7.0     5.0
           Rangers               32.0    4.0     2.0
           Universidad de Chile  19.0    8.0    11.0

In [ ]:
sum_data.index

DatetimeIndex(['2010-01-01', '2011-01-01', '2012-01-01'], dtype='datetime64[ns]', name='year', freq=None)

# Multiplicacion de Enteros

In [8]:
import time
import numpy as np

def naive_sum_multiply(a, b):
    val=0
    for i in range(a):
        val+=b
    return val


def naive_multiply(a, b):
    if len(str(a)) == 1 or len(str(b)) == 1:
        return a * b
    else:
        x=str(a)
        y=str(b)
        m1=len(x)
        m2=len(y)
        val=0
        for i in range(m1):
            for j in range(m2):
                prod=int(x[i])*int(y[j])
                power=pow(10,(m1-i-1)+(m2-j-1))
                val+=prod*power
        return val

def karatsuba(a, b):
    if len(str(a)) == 1 or len(str(b)) == 1:
        return a * b
    else:
        m1 = max(len(str(a)), len(str(b)))
        m2 = m1 // 2

        a1, a2 = divmod(a, 10**m2)
        b1, b2 = divmod(b, 10**m2)

        x = karatsuba(a2, b2)
        y = karatsuba((a1 + a2), (b1 + b2))
        z = karatsuba(a1, b1)

        return (z * 10 ** (2 * m2)) + ((y - z - x) * 10 ** (m2)) + (x)

In [24]:
a=2**2000
b=3**2000
t1=time.time()
z=karatsuba(a,b)
ellapsed_time=time.time()-t1
print('a : {}, b : {}, a*b : {}, time : {} '.format(a,b,z,ellapsed_time))

a : 114813069527425452423283320117768198402231770208869520047764273682576626139237031385665948631650626991844596463898746277344711896086305533142593135616665318539129989145312280000688779148240044871428926990063486244781615463646388363947317026040466353970904996558162398808944629605623311649536164221970332681344168908984458505602379484807914058900934776500429002716706625830522008132236281291761267883317206598995396418127021779858404042159853183251540889433902091920554957783589672039160081957216630582755380425583726015528348786419432054508915275783882625175435528800822842770817965453762184851149029376, b : 1747871251722651609659974619164660570529062487435188517811888011810686266227275489291486469864681111075608950696145276588771368435875508647514414202093638481872912380089977179381529628478320523519319142681504424059410890214500500647813935818925701905402605484098137956979368551025825239411318643997916523677044769662628646406540335627975329619264245079750470862462474091105444437355302146151475348090755330153269067933091699479889089824650841795567478606396975664557143737657027080403239977757865296846740093712377915770536094223688049108023244139183027962484411078464439516845227961935221269814753416782576455507316073751985374046064592546796043150737808314501684679758056905948759246368644416151863138085276603595816410945157599742077617618911601185155602080771746785959359879490191933389965271275403127925432247963269675912646103156343954375442792688936047041533537523137941310690833949767764290081333900380310406154723157882112449991673819054110440001, a*b : 200678463549020953840321782919403917161830133157879085986162623762094817588793167272795253020969514848909596005533714337264451007948588973609895124583669296605410887093277580606708361149167032232636803768462886703197409741441159282628492344956778076687493203364684965085488905263180210562421867895435610338061359952494899859066032830923324192672262342470407970269805970997835454060555983199683330168348250816801353391514367937172118014131422908071030573322287176448860704445302810408017243098981914609152741728134920170778865344030753433089433871400859020327515636578806960942062118164937405667816329355698403575499970858041758378641764409531910294744058603003274357182616977252468991217036459047598774481717364234461148864097587130869058269222276496300980820380509530539873588343597524062309687842107697209347445114420391521576485092925460065700709448273831326900113431286778603063713249481896144965769378123734127032030691463307327971061310778812291367567122294129263344770650108877203934253971283755543318631191179979073485290534579631389922513878304861035518197187182946583947417966178202385257679351391109233611013746732052924341079578053974651220589891583728374241346238359411086112819140992888609326339644271928258405974494957641284674479089430121689059461024414860741671572399058061193878924829254778868086532321520855730260550633167156774533645140598223579748350002386921104379510626043401410258018904512491782127694352404840612735781320424667862606659647602423363340679159216116096018222834161642448689622169701246681337895766551877613959434469376, time : 0.098388671875

In [25]:
print('karatsuba t={}'.format(ellapsed_time))

karatsuba t=0.098388671875

In [26]:

t1=time.time()
z=naive_multiply(a,b)
ellapsed_time=time.time()-t1
print('a : {}, b : {}, a*b : {}, time : {} '.format(a,b,z,ellapsed_time))

a : 114813069527425452423283320117768198402231770208869520047764273682576626139237031385665948631650626991844596463898746277344711896086305533142593135616665318539129989145312280000688779148240044871428926990063486244781615463646388363947317026040466353970904996558162398808944629605623311649536164221970332681344168908984458505602379484807914058900934776500429002716706625830522008132236281291761267883317206598995396418127021779858404042159853183251540889433902091920554957783589672039160081957216630582755380425583726015528348786419432054508915275783882625175435528800822842770817965453762184851149029376, b : 1747871251722651609659974619164660570529062487435188517811888011810686266227275489291486469864681111075608950696145276588771368435875508647514414202093638481872912380089977179381529628478320523519319142681504424059410890214500500647813935818925701905402605484098137956979368551025825239411318643997916523677044769662628646406540335627975329619264245079750470862462474091105444437355302146151475348090755330153269067933091699479889089824650841795567478606396975664557143737657027080403239977757865296846740093712377915770536094223688049108023244139183027962484411078464439516845227961935221269814753416782576455507316073751985374046064592546796043150737808314501684679758056905948759246368644416151863138085276603595816410945157599742077617618911601185155602080771746785959359879490191933389965271275403127925432247963269675912646103156343954375442792688936047041533537523137941310690833949767764290081333900380310406154723157882112449991673819054110440001, a*b : 200678463549020953840321782919403917161830133157879085986162623762094817588793167272795253020969514848909596005533714337264451007948588973609895124583669296605410887093277580606708361149167032232636803768462886703197409741441159282628492344956778076687493203364684965085488905263180210562421867895435610338061359952494899859066032830923324192672262342470407970269805970997835454060555983199683330168348250816801353391514367937172118014131422908071030573322287176448860704445302810408017243098981914609152741728134920170778865344030753433089433871400859020327515636578806960942062118164937405667816329355698403575499970858041758378641764409531910294744058603003274357182616977252468991217036459047598774481717364234461148864097587130869058269222276496300980820380509530539873588343597524062309687842107697209347445114420391521576485092925460065700709448273831326900113431286778603063713249481896144965769378123734127032030691463307327971061310778812291367567122294129263344770650108877203934253971283755543318631191179979073485290534579631389922513878304861035518197187182946583947417966178202385257679351391109233611013746732052924341079578053974651220589891583728374241346238359411086112819140992888609326339644271928258405974494957641284674479089430121689059461024414860741671572399058061193878924829254778868086532321520855730260550633167156774533645140598223579748350002386921104379510626043401410258018904512491782127694352404840612735781320424667862606659647602423363340679159216116096018222834161642448689622169701246681337895766551877613959434469376, time : 3.4276180267333984